/*
.hello {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}*/
body{
}

._flk {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    color: rgba(135, 199, 231, 0.60);
    animation-name: rotate; 
    animation-duration: 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    // text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.2);
}

svg {
    fill: rgba(100, 160, 200, 0.50);
    position: fixed;
    animation-name: rotate; 
    animation-duration: 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}